extends ../layouts/common.pug

block content
	h1
		span.mr-5 Products

	.d-flex.align-item-center
		form.ml-auto(action="/products/search", method="GET", class="d-flex")
			input(type="text", name="q", class="form-control")
			button(class="btn btn-dark ml-2") Search
	.d-flex
		each product in products
			.d-flex.flex-column.col-3
				img(class="card-img-top" src=product.image)
				h5.card-title=product.name
				p.card-text=product.description
				button.btn.btn-dark Add to Cart
	.pag
		ul.pagination
			li.page-item
				a.page-link(href='/products?page='+(page-1) tabindex="-1" aria-disabled="true") Previous
			li.page-item
				a.page-link(href='/products?page='+(page-1))=page-1
			li.page-item
				a.page-link(href='/products?page='+page)=page
			li.page-item
				a.page-link(href='/products?page='+(page+1))=page+1
			li.page-item
				a.page-link(href='/products?page='+(page+1)) Next

	