.card-body h5{
	overflow : hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;  
}

.card-body p{
	overflow : hidden;
	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;